<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<html lang="en">
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">OOPS , Page not found :)</div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
