<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae non
        perspiciatis laborum facilis aut veniam corporis nam harum porro tenetur
        explicabo ullam beatae omnis, praesentium asperiores eveniet rem in!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae non
        perspiciatis laborum facilis aut veniam corporis nam harum porro tenetur
        explicabo ullam beatae omnis, praesentium asperiores eveniet rem in!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae non
        perspiciatis laborum facilis aut veniam corporis nam harum porro tenetur
        explicabo ullam beatae omnis, praesentium asperiores eveniet rem in!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
    
  </body>
</html>
